@import "tailwindcss";

:root {
  --brown: #2f2e2a;
  --off-white: #fdf7e9;
}

body{
  background-color: #f9f4ec;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.blog-container{
  @apply px-4;
}
